.container {
  margin-bottom: 200px;
}
.my-form {
  width: 40%;
  margin: auto !important;
  border: 1px solid lightgray;
  background: white;
  box-shadow: 5px 5px 15px grey;
}

.card-header {
  padding-top: 20px;
  background: whitesmoke;
}
.card-header > h3 {
  margin: 0px;
  padding-left: 20px;
}
.card-body {
  padding: 0px 20px 10px 20px;
}
.card-footer {
  justify-content: center;
  text-align: center;
  padding: 0px 0px 20px 0px;
}
.radius-0 {
  border-radius: 0;
}
.errors {
  color: red;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 0px 0px 16px;
}
